html 
    head
        link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css",rel="stylesheet")
        link(rel="stylesheet", href="../public/styles/custom.css")
    body
        ul.nav.justify-content-between.m-10
            li.nav-item
                h1 T19M 
            li.nav-item
                a.nav-link(aria-current='page', href='#') Home
            li.nav-item
                a.nav-link(href='#') Explore
            li.nav-item
                a.nav-link(href='#') Link
            li.nav-item
            li.nav-item
                form(action="/users/search", method="GET", class = "d-flex")
                    input(type ='text', name ="q", class = "form-control")
                    button.btn.btn-primary.ml-2 Search
            li.nav-item
                span username 
    li   
        block content