h1 create user 
form(action='/users/create', method="POST")
    label firtName 
    input(name="fistName", type="text")
    label lastName 
    input(name="lastName", type="text")
    label id 
    input(name="id", type="text")
    label password 
    input(name="password", type="text")
    button create