@font-face {
    font-family: extraBoldRaleWay;
    src: url(./fonts/Raleway-ExtraBold.ttf);
    }
.nav{
    height: 50px;
}
.logo-text{
    font-family: extraBoldRaleWay;
    font-size: 36px;
}
.logo-dot{
    color: #90D0AF;
    font-size: 36px;
    margin-left: -5px;
}

